a {
    text-decoration: none;
    color: white;
}

.button {
    display: flex;
    flex-direction: row;
    background-color: #141313;
    padding: 12px;
    border-radius: 8px;
    gap: 10px;
    min-width: 245px;
    min-height: 83px;
    flex: 1;
    align-items: center;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    box-sizing: border-box
}

.button:hover {
    /* transform: scale(1.02); */
    /* opacity: 0.9; */
    box-shadow: 0 0 3px rgba(255, 255, 255, 1);
    /* border: 1px solid white; */
}

.button img {
    height: 55px;
}

.button .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button .service {
    font-weight: bold;
    font-size: 27px;
}

.button .account {
    font-size: 12.5px;
}

.light {
    font-weight: 400;
    font-style: italic;
    opacity: 60%;
}